/* side bar (desktop) */
#sidebar,
.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}

.icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sidebar-item {
  flex-direction: row;
  border-radius: 20px;
  padding: 10px 25px;
}

#sidebar a.active {
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;

}

#sidebar .sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 20px;
}

/* navbar (mobile) */

.navbar-brand {
  background-color: rgb(65, 65, 65);
}

.navbar-brand a.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-item:active {
  background-color: white;
}

.navbar-brand .navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.10);
}