/* sidebar (desktop & tablet) */
#sidebar {
  display: flex;
  flex-direction: column;
  align-content: center;
  float: right;

  row-gap: 10px;
  margin-top: 40px;
}

.sidebar-item {
  padding: 15px 25px;
  border-radius: 20px;
}

.icon {
  position: relative;
  top: 1px;
}

span i {
  margin-right: 10px;
}

a span {
  font-size: 1.4rem;
  text-transform: uppercase;
}

#sidebar a.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}

#sidebar .sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.10);
}


/* navbar (mobile) */
.navbar {
  margin: 20px;
  border-radius: 10px;
}

.navbar-brand, .navbar-brand a {
  border-radius: 10px;
}

.navbar-brand {
  background-color: rgb(65, 65, 65);
}

a p {
  text-transform: uppercase;
}

.navbar-brand a.active {
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-item:active {
  background-color: white;
}

.navbar-brand .navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.10);
}