/* side bar (desktop) */
.menu, .icon-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px 0;
}

.icon-text {
  flex-direction: row;
  border-radius: 20px;
  padding: 15px 25px;
}

.icon-text:hover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.01) 70%);
  border-radius: 20px;
}

#sidebar a.active {
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 20px;
}

/* navbar (mobile) */

.navbar-brand {
  background-color: rgb(65, 65, 65);
}

.navbar-brand a.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.10);
}

.navbar-item:active {
  background-color: white;
}

.navbar-brand .navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}