* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: white;
  --foreground-color: blue;
  --primary-text-color: black;
  --secondary-text-color: white;
  --toggle-bg: gray;
  --toggle-fg: white;
  --primary-icon-color: white;
  --sidebar-selected: hsla(0, 0%, 25%, 0.25);
  --sidebar-select-hover: hsla(0, 0%, 25%, 0.20);
}

[data-theme="dark"] {
  --background-color: #14161a;
  --foreground-color: hsl(240, 80%, 60%);
  --primary-text-color: white;
  --secondary-text-color: black;
  --toggle-bg: white;
  --toggle-fg: gray;
  --sidebar-selected: hsla(0, 0%, 25%, 0.75);
  --sidebar-select-hover: hsla(0, 0%, 25%, 0.55);
}