.input-wrapper {
  background-color: var(--input-background-color);
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.2rem;
  width: 100%;
  margin-left: 10px;
  color: var(--primary-text-color);
}

input::placeholder {
  color: var(--input-placeholder-text-color);
}

input:focus {
  outline: none;
}

#search-icon {
  color: var(--primary-text-color);
}