.card {
  cursor: pointer;
}

#search-btn {
  bottom: 80px;
}

.user-list {
  margin-top: -65px;
}

input::placeholder {
  position: absolute;
  left: 10px; /* Adjust left position */
  top: 17px; /* Vertically center */
  transform: translateY(-50%); /* Vertically center */
}